[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
future = "*"
keras = "*"
numpy = "*"
nltk = "*"
tensorflow = "==1.5"
sklearn = "*"
scipy = "*"
